1. Reading json file into pandas dataframe!

In [1]:
import json
import pandas as pd

In [2]:
path = '/Volumes/DATA/open_data/google_location/'
filename = 'LocationHistory.json'

In [3]:
!head /Volumes/DATA/open_data/google_location/LocationHistory.json

{
  "locations" : [ {
    "timestampMs" : "1474512408575",
    "latitudeE7" : 223714716,
    "longitudeE7" : 1139703379,
    "accuracy" : 31
  }, {
    "timestampMs" : "1474512014306",
    "latitudeE7" : 223714716,
    "longitudeE7" : 1139703379,

In [4]:
with open(path + filename) as data_file:    
    data = json.load(data_file)

In [5]:
df = pd.DataFrame(data[u'locations'])
df.head(10)

,accuracy,activitys,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity
0,31,NaN,NaN,NaN,223714716,1139703379,1474512408575,NaN
1,31,NaN,NaN,NaN,223714716,1139703379,1474512014306,NaN
2,70,NaN,NaN,NaN,223714749,1139703997,1474511808669,NaN
3,70,NaN,NaN,NaN,223714749,1139703997,1474511670671,NaN
4,38,NaN,NaN,NaN,223714006,1139703519,1474511308566,NaN
5,67,NaN,NaN,NaN,223715036,1139704213,1474510978529,NaN
6,67,NaN,NaN,NaN,223715036,1139704213,1474510947894,NaN
7,27,NaN,NaN,NaN,223716549,1139703972,1474510582613,NaN
8,27,NaN,NaN,NaN,223716549,1139703972,1474510193591,NaN
9,104,NaN,NaN,NaN,223716392,1139704223,1474510023043,NaN

In [9]:
list(df.columns)

[u'accuracy',
 u'activitys',
 u'altitude',
 u'heading',
 u'latitudeE7',
 u'longitudeE7',
 u'timestampMs',
 u'velocity']

In [12]:
df.columns = ['accuracy','activitys','alt','heading','lat','lon','timestamp','vel']

In [13]:
df.sample(10)

,accuracy,activitys,alt,heading,lat,lon,timestamp,vel
648674,934,NaN,NaN,NaN,223724582,1139697802,1411574359627,NaN
787321,3106,NaN,NaN,NaN,224136959,1142081970,1402468054705,NaN
671821,3106,NaN,NaN,NaN,222907570,1142955160,1409978105877,NaN
1068974,6,NaN,23.0,235.0,224476410,1140215412,1384598691161,4.0
224662,1113,NaN,NaN,NaN,224172133,1142064656,1438828439811,NaN
973440,8,NaN,126.0,265.0,222712466,1141763681,1390622214691,1.0
724647,57,NaN,NaN,NaN,224161094,1142110405,1406534139354,NaN
1005471,54,NaN,NaN,NaN,223717554,1139704325,1388597309275,NaN
79549,1000,"[{u'activities': [{u'confidence': 100, u'type'...",NaN,NaN,224170127,1142065422,1454559061731,NaN
289007,3106,NaN,NaN,NaN,224139910,1142083930,1434606292287,NaN